aos-container {
  opacity: 0; /* Initially set opacity to 0 */
  transition: opacity 0.7s ease-in-out 0.9s; /* Add smooth transition and delay */
}

.aos-container[data-aos="fade-up"] {
  opacity: 1; /* Set opacity to 1 when fading up */
}