@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Open Sans', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Optional: Adjust scrollbar width and color */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
}
